/* Navbar */
.search-box {
  background: #f8f9fa;
  border-radius: 20px;
  padding-left: 15px;
  width: 200px;
}

/* Slider */
.carousel-img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(70%);
}

.carousel-caption {
  text-align: center;
  bottom: 0;
}

.carousel-caption h1 {
  font-weight: 800;
  color: #faf8f8;
}

.carousel-caption p {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: 10px;
}

/* card */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  text-transform: capitalize;
}

.price {
  font-weight: bold;
  color: #444;
}

.btn-custom {
  background-color: #ffd700;
  font-weight: bold;
}

/* Parallax Section */

.parallax-section {
  position: relative;
}

.parallax-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* overlay */
}
.parallax-section .text-center {
  position: relative;
  z-index: 2;
}

.parallax-section1 {
  background-image: url("../img/poster/banner1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-section2 {
  background-image: url("../img/poster/banner2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-section4 {
  background-image: url("../img/poster/airmax.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-section {
  background: #f9f9f9;
}

.testimonial-section h2 {
  font-weight: 700;
  color: #333;
}



/* footer */

 footer {
      background-color: #f8f9fa;
      padding: 50px 0 20px 0;
      font-size: 14px;
    }
    footer h5 {
      font-weight: 600;
      margin-bottom: 20px;
    }
    footer ul {
      list-style: none;
      padding: 0;
    }
    footer ul li {
      margin-bottom: 10px;
    }
    footer ul li a {
      text-decoration: none;
      color: #000;
      transition: color 0.3s;
    }
    footer ul li a:hover {
      color: #007bff;
    }
    .social-icons a {
      color: #000;
      margin: 0 8px;
      font-size: 16px;
      transition: color 0.3s;
    }
    .social-icons a:hover {
      color: #007bff;
    }
    .signup-btn {
      background: #000;
      color: #fff;
      border-radius: 0;
    }

    .breadcrumb-container {
  background: #f8f9fa;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #6c5ce7;
  font-weight: 500;
  transition: 0.3s;
}

.breadcrumb-item a:hover {
  color: #341f97;
}

.breadcrumb-item.active {
  color: #2d3436;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #777;
  margin: 0 6px;
}
